---

---
<section id="contact">
    <ul>
        <li><a href="https://github.com/Arsyuska"><img src="/github.svg" alt="gitbub" ></a></li>
        <li><a href="https://t.me/arsyuskaa"><img src="/telegram.svg" alt="telegram"></a></li>
        <li><a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"><img src="/linkedin.svg" alt="linkedin"></a></li>
    </ul>
    <p>Building the future, one line at a time. Open for collaboration.</p>
</section>


<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block-start: clamp(60px, 15vw,300px);
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 45px;
        padding: 0;
    }

    img {
        height: 30px;
        width: 30px;
    }

    p {

        font-size: 15px;
        text-align: center;
    }



</style>