---
import About from "./About.astro";
import Experience from "./Experience.astro";
import Portfolio from "./Potrfolio.astro";
import Projects from "./Projects.astro";
---
<main>
       <Portfolio></Portfolio>
        <About></About>
        <Experience></Experience>
       <Projects></Projects>
</main>

